<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">fecha de Nacimientos</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info" *ngFor="let item of [0,1,2,3,4]" >
            <th scope="row">Nestor Morales</th>
            <td>nestorm94@gmail.com</td>
            <td>01/0/1994</td>
            <td >
                <button type="button" class="btn btn-outline-warning m-1" (click)="edit(item)">Editar</button>
                <button type="button" class="btn btn-outline-danger m-1"(clik)="delete(item)">Eliminar</button>                
            </td>
          </tr>
        </tbody>
    </table>
</div>